/* Color display rules */

.color-display {
    color: white;
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.basic-crimson {
    background-color: #d7263d;
}

.portland-orange {
    background-color: #f46036;
}

.space-blue {
    background-color: #2e294e;
}


/* Font display rules */

.open-sans {
    font-family: 'Open Sans';
}

.roboto-mono {
    font-family: 'Roboto Mono';
}

.arvo {
    font-family: 'Arvo';
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}


/* Lower-level element font style rules */

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 550;
    font-size: 24px;
}

p {
    font-family: 'Roboto Mono', 'Courier New', monospace;
}