/* Basic */
body {
    margin: 0 auto;
    width: 500px;
}

.hidden {
    visibility: hidden;
}

/* Boxes */
.container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 12px;
}

/* Color displays */

.color-display {
    color: white;
    margin: auto;
    padding: 30px 10px;
    display: inline-block;
    width: 120px;
    height: 120px;
    text-align: center;
    border-radius: 12px;
}

#colors {
    text-align: center;
}

.steel-teal {
    background-color: #587b7f;
}

.black-chocolate {
    background-color: #1e2019;
}

.mauve-taupe {
    background-color: #84596b;
}

/* Font display */

.open-sans {
    font-family: "Open Sans";
}

.roboto-mono {
    font-family: "Roboto Mono";
}

.arvo {
    font-family: "Arvo";
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 700;
}

/* Lower-level element font style */

h1 {
    font-family: "Arvo", sans-serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-family: "Arvo", sans-serif;
    font-weight: 550;
    font-size: 24px;
}

p {
    font-family: "Open Sans", "Courier New", monospace;
}

ul {
    list-style-type: none;
    font-family: "Roboto Mono", "Courier New", monospace;
}

/* GH repository icon */
#github-link {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
