.color-display {
    color: white;
    margin: 20px auto;
    padding: 20px;
    display: inline-block;
    width: 25%;
    text-align: center;
}

.basic-crimson {
    background-color: #d7263d;
}

.portland-orange {
    background-color: #f46036;
}

.space-blue {
    background-color: #2e294e;
}